<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
    <style>
      body {
      font-size: medium;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      background-color: #f5f5DC;
    }

      h1 {
    color:mediumseagreen ;
    margin-top: 50px;
    }

      p{
    color:#5fc38c; 
    }
    </style>
    
  </head>
  <body>
    <h1> <%=shopName%> | About</h1>
    <p>We sell all sorts of drinks!</p>
  </body>
</html>
