<!DOCTYPE html>
<html>
    <head>
        <title><%=shopName%></title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>What are you after?</h1>
        <p>Let us know what you are craving!</p>

        <form action="/search_result" method="GET">
            <label for="search_box">Name</label>
            <input id="search_box" type="text" name="search_text">
            <input type="submit" value="OK" >

            <label for="search_box">Category</label>
            <input id="search_box" type="text" name="category">
            <input type="submit" value="OK" >
          </form>
      
    </body>

</html>