body {
font-size: medium;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
background-color: #f5f5DC;
}


h1 {
    color:mediumseagreen ;
}
h2{
    color:#5fc38c;
}
p, p1{
    color:#5fc38c; 
}

ul {
    list-style: circle;
    padding: 0;
}

li {
    display: block;
    color: #5fc38c;
}

form{
    margin-top: 2%;
    
}
