body {
font-size: medium;
font-family: 'Courier New', Courier, monospace;
text-align: left;
background-color: #f5f5DC;
}

h1 {
    color:mediumseagreen ;
}
h2{
    color:#5fc38c
}

ul {
    list-style: circle;
    padding: 0;
}

li {
    display: block;
}

form{
    margin-top: 2%;
}
